nav{
    display: flex;
    height: 50px;
    align-items: center;
    width: 100%;
}
.darkMode{
    background-color: #242424;
    color: white;
    box-shadow: 0 1px 5px white;
}
.lightMode{
    background-color: white;
    color: #242424;
    box-shadow: 0 1px 5px #242424;
}
nav .logo{
    width: 30%;
}
nav .logo h1{
    padding: 0 10px;
}
nav ul{
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
nav ul li .darkModeLink{
    color: white;
}
nav ul li .lightModeLink{
    color: #242424;
}
nav ul li .active{
    color: rgb(218, 48, 48);
}
nav ul li{
    cursor: pointer;
}
nav ul li:hover{
    opacity: 0.5;
}
nav ul li:active{
    opacity: 1;
}
nav ul li button{
    padding: 5px 15px;
    border: none;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
}
nav ul li button:hover{
opacity: 0.5;
}
nav ul li button:active{
    opacity: 1;
}
nav .menuDiv{
    display: none;
}
nav .menuDiv .menuIcon{
    cursor: pointer;
}
nav .menuDiv .menuIcon:hover{
    opacity: 0.5;
}
nav .menuDiv .menuIcon:active{
    opacity: 1;
}
nav .menu{
    display: none;  
    background-color: white;
}
nav #menuDark{
    color: white;
    background-color: #242424;
    box-shadow: -1px 0 4px rgba(255, 255, 255, 0.5);
}
nav #menuDark a{
    color: white;
}
nav #menuLight a{
    color: #242424;
}
@media screen and (max-width:500px) {
    nav ul{
        display: none;
    }
    nav .menuDiv{
        display: flex;
        flex-grow: 1;
        justify-content: end;
        margin-right: 10px;
    }
    nav .menu{
        display: flex;
        position: fixed;
        height: 100vh;
        right: 0;
        top: 0;
        width: 0;
        transition: width 0.5s;
        box-shadow: -5px 0 10px rgba(48, 48, 48, 0.527);
    }
    nav .menu ul{
        display: flex;
        flex-direction: column;
        justify-content: start;
        padding: 10px;
        gap: 10px;
    }
    nav .menu.active{
        width: 50%;
    }
}